In [ ]:
pip install arviz

Collecting arviz
  Downloading https://files.pythonhosted.org/packages/e2/a8/e2ad120b06822e29e0d185bed1ae300576f3f61f97fceb6933ba6f6accf7/arviz-0.11.2-py3-none-any.whl (1.6MB)
     |████████████████████████████████| 1.6MB 7.6MB/s
Requirement already satisfied: numpy>=1.12 in /usr/local/lib/python3.7/dist-packages (from arviz) (1.19.5)
Requirement already satisfied: setuptools>=38.4 in /usr/local/lib/python3.7/dist-packages (from arviz) (56.0.0)
Collecting netcdf4
  Downloading https://files.pythonhosted.org/packages/37/56/f65978898fb8e7e5df9c67531d86eb24eb04938deae3b61dbcce12c98212/netCDF4-1.5.6-cp37-cp37m-manylinux2014_x86_64.whl (4.7MB)
     |████████████████████████████████| 4.7MB 28.8MB/s
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from arviz) (1.1.5)
Requirement already satisfied: scipy>=0.19 in /usr/local/lib/python3.7/dist-packages (from arviz) (1.4.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from arviz) (20.9)
Collecting xarray>=0.16.1
  Downloading https://files.pythonhosted.org/packages/a5/19/debc1f470b8b9e2949da221663c8102ed6728f4d38dc964085ca43de1428/xarray-0.17.0-py3-none-any.whl (759kB)
     |████████████████████████████████| 768kB 51.1MB/s
Requirement already satisfied: typing-extensions<4,>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from arviz) (3.7.4.3)
Requirement already satisfied: matplotlib>=3.0 in /usr/local/lib/python3.7/dist-packages (from arviz) (3.2.2)
Collecting cftime
  Downloading https://files.pythonhosted.org/packages/41/e0/3e120cca16571c5ee3b35f1ed432c2aae5dc91e2b789e8b9c3a70e721ea0/cftime-1.4.1-cp37-cp37m-manylinux2014_x86_64.whl (313kB)
     |████████████████████████████████| 317kB 43.5MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->arviz) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->arviz) (2018.9)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->arviz) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->arviz) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0->arviz) (1.3.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->arviz) (1.15.0)
Installing collected packages: cftime, netcdf4, xarray, arviz
  Found existing installation: xarray 0.15.1
    Uninstalling xarray-0.15.1:
      Successfully uninstalled xarray-0.15.1
Successfully installed arviz-0.11.2 cftime-1.4.1 netcdf4-1.5.6 xarray-0.17.0

In [ ]:
import pystan
import numpy as np
import matplotlib.pyplot as plt
import arviz
import json
import pandas as pd

In [ ]:
with open('/content/drive/MyDrive/TFM-Crowd learning/multinomial.json') as json_file:
    data = json.load(json_file)

In [ ]:
data.keys()

dict_keys(['w', 't', 'a', 'k', 't_A', 'w_A', 'ann'])

In [ ]:
print('Un total de '+str(data['w'])+ ' workers')
print('Un total de '+str(data['t'])+ ' tasques')
print('Un total de '+str(data['a'])+' anotacions')
print('Ja que k = '+str(data['k'])+', vol dir que els workers han de triar entre 3 possibles anotacions. Per aquest motiu, la key "ann" només conté 0, 1 o 2.')

Un total de 20 workers
Un total de 1000 tasques
Un total de 10000 anotacions
Ja que k = 3, vol dir que els workers han de triar entre 3 possibles anotacions. Per aquest motiu, la key "ann" només conté 0, 1 o 2.

In [ ]:
dades={'Tasca': data['t_A'], 'Worker': data['w_A'], 'Anotació': data['ann'] }

In [ ]:
df = pd.DataFrame(data=dades)
df

      Tasca  Worker  Anotació
0         0      14         2
1         0      13         2
2         0       4         2
3         0       2         2
4         0       7         1
...     ...     ...       ...
9995    999      17         2
9996    999       2         2
9997    999      13         2
9998    999      14         2
9999    999      15         2

[10000 rows x 3 columns]

In [ ]:
df.to_csv('crowdsource.csv',index=False)